.container {}

.btn {
  display: inline-block;
  width: 100px;
  height: 50px;
  line-height: 50px;
  color: #333;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/*
* 线性渐变（linear-gradient） - 从上到下（默认情况下）
*/
.gradient-top-btn {
  background: -webkit-linear-gradient(red, blue); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(red, blue); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(red, blue); /* Firefox 3.6 - 15 */
  background: linear-gradient(red, blue); /* 标准的语法 */
}

/*
* 线性渐变（linear-gradient） - 从左到右
*/
.gradient-left-btn {
  background: -webkit-linear-gradient(left, red , blue); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(left, red, blue); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(left, red, blue); /* Firefox 3.6 - 15 */
  background: linear-gradient(left, red , blue); /* 标准的语法 */
  
  /* background: -webkit-linear-gradient(to right, red , blue); /* Safari 5.1 - 6.0 */
  /* background: -o-linear-gradient(to right, red, blue); /* Opera 11.1 - 12.0 */
  /* background: -moz-linear-gradient(to right, red, blue); /* Firefox 3.6 - 15 */
  /* background: linear-gradient(to right, red , blue); /* 标准的语法 */
}

/*
* 线性渐变（linear-gradient） - 对角 从左上角到右下角
*/
.gradient-opposite-btn {
  background: -webkit-linear-gradient(left top, red , blue); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(left top, red, blue); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(left top, red, blue); /* Firefox 3.6 - 15 */
  background: linear-gradient(left top, red , blue); /* 标准的语法 */
}

/*
* 线性渐变（linear-gradient） - 角度
*/
.gradient-deg-btn {
  background: -webkit-linear-gradient(180deg, red, blue); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(180deg, red, blue); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(180deg, red, blue); /* Firefox 3.6 - 15 */
  background: linear-gradient(180deg, red, blue); /* 标准的语法 */
}

/*
* 线性渐变（linear-gradient） - 使用多个颜色结点
*/
.gradient-color-btn {
  /* Safari 5.1 - 6.0 */
  background: -webkit-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* Opera 11.1 - 12.0 */
  background: -o-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* Firefox 3.6 - 15 */
  background: -moz-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* 标准的语法 */
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
}

/*
* 线性渐变（linear-gradient） - 重复
*/
.gradient-repeat-btn {
  /* Safari 5.1 - 6.0 */
  background: -webkit-repeating-linear-gradient(red, yellow 10%, green 20%);
  /* Opera 11.1 - 12.0 */
  background: -o-repeating-linear-gradient(red, yellow 10%, green 20%);
  /* Firefox 3.6 - 15 */
  background: -moz-repeating-linear-gradient(red, yellow 10%, green 20%);
  /* 标准的语法 */
  background: repeating-linear-gradient(red, yellow 10%, green 20%);
}

/*
* 径向渐变（radial-gradient） - 颜色结点均匀分布（默认情况下）
* 必须至少定义两种颜色结点，渐变的中心是 center（表示在中心点），渐变的形状是 ellipse（表示椭圆形），渐变的大小是 farthest-corner（表示到最远的角落）
*/
.gradient-radial-btn {
  background: -webkit-radial-gradient(red, green, blue); /* Safari 5.1 - 6.0 */
  background: -o-radial-gradient(red, green, blue); /* Opera 11.6 - 12.0 */
  background: -moz-radial-gradient(red, green, blue); /* Firefox 3.6 - 15 */
  background: radial-gradient(red, green, blue); /* 标准的语法 */
}

/*
* 径向渐变（radial-gradient） - 颜色结点不均匀分布
*/
.gradient-nonradial-btn {
  background: -webkit-radial-gradient(red 5%, green 15%, blue 60%); /* Safari 5.1 - 6.0 */
  background: -o-radial-gradient(red 5%, green 15%, blue 60%); /* Opera 11.6 - 12.0 */
  background: -moz-radial-gradient(red 5%, green 15%, blue 60%); /* Firefox 3.6 - 15 */
  background: radial-gradient(red 5%, green 15%, blue 60%); /* 标准的语法 */
}
